.ThinkAjax{position:absolute; z-index:1000; letter-spacing:2px;display:none; top:5px;   padding:5px 20px 5px 10px; font-weight:bold; border:1px solid gray; color:blue; background:#FFF ; background-position:3px 40%; font-family:微软雅黑,Tahoma,Helvetica,sans; left:0px;}
.message{border: 1px solid #e1e1e1; background:#FFF;}
 